@* @model IEnumerable<prjJapanTravel_BackendMVC.ViewModels.ProductViewModels.ItineraryListViewModel> *@
@model prjJapanTravel_BackendMVC.ViewModels.ProductViewModels.CreateListViewModel

@{
    ViewData["Title"] = "ItineraryCreate";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <form asp-action="ItineraryCreate" enctype="multipart/form-data">
    <nav style="background-color: lightblue; height: 100px; margin-top: 0; margin-bottom: 10px;">
    <h1 style="text-align: center; margin: 0; padding-top: 30px;">新增體驗行程</h1>
    </nav>
    <div style="margin-bottom: 10px;">
        <label for="text">行程編號</label>
        <input type="text" name="行程編號">

        <label for="text">行程名稱</label>
        <input type="text" name="行程名稱">

        <label for="text">總團位</label>
        <input type="text" name="總團位" style="width: 100px;">

        <label for="text">價格</label>
        <input type="text" name="價格" style="width: 100px;">
    </div>
    <div style="margin-bottom: 10px;">
        <label>地區</label>
        <select name="AreaSystem.AreaSystemId" id="">
            <option value="">請選擇區域</option>
            @foreach (var item in Model.areaList){
                <option value="@item.AreaSystemId">@item.AreaName</option>
            }
        </select>
    </div>
    <div style="margin-bottom: 10px;">
        <label for="exampleDataList" class="form-label">體驗</label>
        @* <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="請輸入體驗關鍵字"> *@
        <select name="ActivitySystem.ActivitySystemId">
            <option value="">請選擇體驗項目</option>
            @foreach(var item in Model.activityList)
            {
                <option value="@item.ActivitySystemId">@item.ActivityName</option>
            }
        </select>
    </div>
    <div style="margin-bottom: 10px;">
        <label>出發日期</label>
        <input type="date" name="ItineraryDates">
    </div>
    <div style="margin-bottom: 10px;">
        <label>圖片上傳</label>
        <input type="file" name="ItineraryPicSystem.ImagePath" onchange="openFile(event)">
        <label>圖片預覽</label>
        <img id="output" height="200" style="display:none">
    </div>
    <div style="margin-bottom: 10px;">
        <div style="margin-bottom: 10px;">
            <label>圖片名稱</label>
            <input id="ItineraryPicSystem.ImageName" type="text" name="picName" value="" />
        </div>
        <div>
            <label style="vertical-align: top;">圖片描述</label>
            <textarea id="ItineraryPicSystem.ImageDetail" rows="7" cols="99"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div style="margin-bottom: 10px;">
            <label>行程簡介</label>
            <input type="text" name="行程簡介" value="" />
        </div>
        <div>
            <label style="vertical-align: top;">行程詳情</label>
            <textarea name="行程詳情" rows="7" cols="99"></textarea>
        </div>
    </div>
    <div>
        <input type="submit" value="送出" class="btn btn-primary" />
        <a asp-action="List">取消</a>
    </div>
    </form>
    
</body>

</html>
@section Scripts
{
    <script>
    function openFile(event)
    {
    var input = event.target; //取得上傳檔案
    var reader = new FileReader(); //建立FileReader物件

    reader.onload = function() {
        var dataURL = reader.result;
        $('#output').attr('src', dataURL).show();};
        reader.readAsDataURL(input.files[0]);
    }
     </script>

}