@model prjJapanTravel_BackendMVC.Models.RouteImage

@{
    ViewData["Title"] = "CreateRouteImage";
}

<h1>Create New Route Image</h1>

<form asp-action="CreateRouteImage" enctype="multipart/form-data">
    <!-- 注意這裡的 enctype -->
    <div class="form-group">
        <label asp-for="RouteImageUrl" class="control-label">Upload Image</label>
        <input type="file" class="form-control" asp-for="RouteImageUrl" /> <!-- 允許上傳檔案 -->
        <span asp-validation-for="RouteImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RouteImageDescription" class="control-label">Description</label>
        <input asp-for="RouteImageDescription" class="form-control" />
        <span asp-validation-for="RouteImageDescription" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="RouteId" value="@ViewBag.RouteId" />
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
