@model prjJapanTravel_BackendMVC.Models.RouteImage

@{
    ViewData["Title"] = "CreateRouteImage";
}

<h1>Create New Route Image</h1>

<form asp-action="CreateRouteImage" enctype="multipart/form-data">
    <!-- 注意這裡的 enctype -->
    <div class="form-group">
         
        <label asp-for="RouteId" class="control-label">航線編號</label>
    <input asp-for="RouteId" class="form-control" />
    <span asp-validation-for="RouteId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RouteImageUrl" class="control-label">上傳圖片</label>
        <input type="file" class="form-control" asp-for="RouteImageUrl" /> <!-- 允許上傳檔案 -->
        <span asp-validation-for="RouteImageUrl" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RouteImageDescription" class="control-label">圖片簡介</label>
        <input asp-for="RouteImageDescription" class="form-control" />
        <span asp-validation-for="RouteImageDescription" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">儲存</button>
</form>

<div>
    <a asp-action="Index">取消並返回</a>
</div>
