@model prjJapanTravel_BackendMVC.ViewModels.ShipmentViewModels.RouteDetailViewModel

<h1>航線詳細資料</h1>

<h3>航線資料</h3>
<p>
    <strong>出航港口:</strong> @Model.OriginPortName <br />
    <strong>目的地:</strong> @Model.DestinationPortName <br />
    <strong>簡介:</strong> @Model.RouteDescription <br />
    <strong>票價:</strong> @Model.Price
</p>

<hr />

<div>
    @await Html.PartialAsync("_SchedulePartial", Model.Schedules)
</div>

<hr />

<div>
    @await Html.PartialAsync("_RouteImagePartial", Model.RouteImages)
</div>
