@model prjJapanTravel_BackendMVC.Models.RouteImage

@{
    ViewData["Title"] = "EditRouteImage";
}

<h1>EditRouteImage</h1>

<h4>RouteImage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRouteImage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RouteImageId" class="control-label"></label>
                <input asp-for="RouteImageId" class="form-control" />
                <span asp-validation-for="RouteImageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteId" class="control-label"></label>
                <input asp-for="RouteId" class="form-control" />
                <span asp-validation-for="RouteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteImageUrl" class="control-label"></label>
                <input asp-for="RouteImageUrl" class="form-control" />
                <span asp-validation-for="RouteImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteImageDescription" class="control-label"></label>
                <input asp-for="RouteImageDescription" class="form-control" />
                <span asp-validation-for="RouteImageDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

