@model prjJapanTravel_BackendMVC.Models.Schedule

<h1>編輯排班</h1>

<form asp-action="EditSchedule" method="post">
    <input type="hidden" asp-for="ScheduleId" />
    <input type="hidden" asp-for="RouteId" />
    <div>
        <label asp-for="DepartureTime"></label>
        <input type="datetime-local" asp-for="DepartureTime" />
    </div>
    <div>
        <label asp-for="ArrivalTime"></label>
        <input type="datetime-local" asp-for="ArrivalTime" />
    </div>
    <div>
        <label asp-for="Seats"></label>
        <input type="number" asp-for="Seats" />
    </div>
    <button type="submit">更新</button>
</form>
