@model prjJapanTravel_BackendMVC.ViewModels.ShipmentViewModels.RouteDetailViewModel

@{
    ViewData["Title"] = "新增圖片";
}
<form asp-action="ICreate" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="RouteId" />

    <div>
        <label>圖片描述:</label>
        <input type="text" asp-for="ImageDescription" />
    </div>
    <div>
        <label>上傳圖片:</label>
        <input type="file" asp-for="ImageFile" accept="image/*" /> <!-- 更新為 ImageFile -->
    </div>
    <input type="submit" value="儲存" class="btn btn-primary" />

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
