@model prjJapanTravel_BackendMVC.Models.Schedule

@{
    ViewData["Title"] = "SEdit";
}

<h1>航班修改</h1>

<h4>航班資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ScheduleId" class="control-label"></label>
                <input asp-for="ScheduleId" class="form-control" />
                <span asp-validation-for="ScheduleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteId" class="control-label"></label>
                <input asp-for="RouteId" class="form-control" />
                <span asp-validation-for="RouteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureTime" class="control-label"></label>
                <input asp-for="DepartureTime" class="form-control" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalTime" class="control-label"></label>
                <input asp-for="ArrivalTime" class="form-control" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seats" class="control-label"></label>
                <input asp-for="Seats" class="form-control" />
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">取消</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
