@model prjJapanTravel_BackendMVC.Models.PortImage

@{
    ViewData["Title"] = "EditPortImage";
}

<h1>EditPortImage</h1>

<h4>PortImage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPortImage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PortImageId" class="control-label"></label>
                <input asp-for="PortImageId" class="form-control" />
                <span asp-validation-for="PortImageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PortId" class="control-label"></label>
                <input asp-for="PortId" class="form-control" />
                <span asp-validation-for="PortId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PortImageUrl" class="control-label"></label>
                <input asp-for="PortImageUrl" class="form-control" />
                <span asp-validation-for="PortImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PortImageDes" class="control-label"></label>
                <input asp-for="PortImageDes" class="form-control" />
                <span asp-validation-for="PortImageDes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
