
    <div class="login-form-bg h-100 mt-5" >
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <a class="text-center" href="index.html"> <h4>日本旅遊後台系統</h4></a>

                                <form id="loginform" class="mt-5 mb-5 login-input" method="post">
                                    <div class="form-group">
                                    <input type="Text" class="form-control" name="Account" placeholder="請輸入帳號" style="padding:10px">
                                    </div>
                                    <div id="divErrA" class="text-danger" style="min-height:20px ;margin-bottom:24px"></div>
                                    <div class="form-group">
                                    <input type="password" class="form-control" name="Password" placeholder="請輸入密碼" style="padding:10px">
                                    </div>
                                <div id="divErrP" class="text-danger" style="min-height:20px ;margin-bottom:24px"></div>
                                    <button id="btnsubmit" class="btn login-form__btn submit w-100">登入</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @section Scripts
    {
        
        <script>
        const button = document.getElementById('btnsubmit');
        const ErrA = document.getElementById('divErrA');
        const ErrP = document.getElementById('divErrP');
        const formElememt = document.getElementById('loginform');
        const domain = "https://localhost:7146"
        const txts = document.querySelectorAll('.form-control')

        button.addEventListener('click', async (event) => {
            event.preventDefault();
            const form = new FormData(formElememt);
            const response = await fetch(`${domain}/Login/LoginPage`, {
                method: "Post",
                body: form
            });
            const data = await response.json();
            if (data.result == "Noaccount") {
                ErrA.textContent = data.message;
            }
            else if (data.result == "Nopassword") {
                ErrP.textContent = data.message;
            }
            else 
            {
                window.location.href = "@Url.Action("Index","Home")";
            }
            })

            txts.forEach(txt => {
            txt.addEventListener('click', () => {
                ErrA.textContent = '';
                ErrP.textContent = '';
                })
            })


    
        </script>


    }
