@model prjJapanTravel_BackendMVC.ViewModels.OrderViewModels.ItineraryOrderListViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>行程訂單修改</h1>

<h4>ItineraryOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="行程訂單編號" type="hidden" />
            <div class="form-group">
                <label asp-for="訂單編號" class="control-label"></label>
                <input asp-for="訂單編號" class="form-control" readonly/>
                <span asp-validation-for="訂單編號" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="會員" class="control-label"></label>
                <input asp-for="會員" class="form-control" readonly/>
                <span asp-validation-for="會員" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="行程編號" class="control-label"></label>
                <input asp-for="行程編號" class="form-control" />
                <span asp-validation-for="行程編號" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="數量" class="control-label"></label>
                <input asp-for="數量" class="form-control" />
                <span asp-validation-for="數量" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="下單時間" class="control-label"></label>
                <input asp-for="下單時間" class="form-control" readonly/>
                <span asp-validation-for="下單時間" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="付款方式編號" class="control-label"></label>
                <select asp-for="付款方式編號" class="form-control" asp-items="ViewBag.PaymentMethodList">
                    <option value="">-- 請選擇付款方式 --</option>
                </select>
                <span asp-validation-for="付款方式編號" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="付款狀態編號" class="control-label"></label>
                <select asp-for="付款狀態編號" class="form-control" asp-items="ViewBag.PaymentStatusList">
                    <option value="">-- 請選擇付款狀態 --</option>
                </select>
                <span asp-validation-for="付款狀態編號" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="付款時間" class="control-label"></label>
                <input asp-for="付款時間" class="form-control" />
                <span asp-validation-for="付款時間" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="訂單狀態" class="control-label"></label>
                <select asp-for="訂單狀態編號" class="form-control" asp-items="ViewBag.OrderStatusList">
                    <option value="">-- 請選擇訂單狀態 --</option>
                </select>
                <span asp-validation-for="訂單狀態編號" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="優惠券" class="control-label"></label>
                <input asp-for="優惠券" class="form-control" readonly />
                <span asp-validation-for="優惠券" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="總金額" class="control-label"></label>
                <input asp-for="總金額" class="form-control" />
                <span asp-validation-for="總金額" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Remarks" class="control-label"></label>
                <input asp-for="Remarks" class="form-control" />
                <span asp-validation-for="Remarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewRating" class="control-label"></label>
                <input asp-for="ReviewRating" class="form-control" />
                <span asp-validation-for="ReviewRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReveiwContent" class="control-label"></label>
                <input asp-for="ReveiwContent" class="form-control" />
                <span asp-validation-for="ReveiwContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewTime" class="control-label"></label>
                <input asp-for="ReviewTime" class="form-control" />
                <span asp-validation-for="ReviewTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReviewStatus" class="control-label"></label>
                <input asp-for="ReviewStatus" class="form-control" />
                <span asp-validation-for="ReviewStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepresentativeLastName" class="control-label"></label>
                <input asp-for="RepresentativeLastName" class="form-control" />
                <span asp-validation-for="RepresentativeLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepresentativeFirstName" class="control-label"></label>
                <input asp-for="RepresentativeFirstName" class="form-control" />
                <span asp-validation-for="RepresentativeFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepresentativeIdnumber" class="control-label"></label>
                <input asp-for="RepresentativeIdnumber" class="form-control" />
                <span asp-validation-for="RepresentativeIdnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepresentativePassportNumber" class="control-label"></label>
                <input asp-for="RepresentativePassportNumber" class="form-control" />
                <span asp-validation-for="RepresentativePassportNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepresentativePhoneNumber" class="control-label"></label>
                <input asp-for="RepresentativePhoneNumber" class="form-control" />
                <span asp-validation-for="RepresentativePhoneNumber" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="確認送出" class="btn btn-primary" />
                <a asp-action="List" class="btn btn-secondary">取消修改</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
