@model prjJapanTravel_BackendMVC.Models.ArticleMain

@{
    ViewData["Title"] = "Create";
}

<h1>新增文章</h1>

<h4>輸入文章</h4>
<hr />




<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

@*             <input type="hidden" name="ArticleNumber" value="@Model.ArticleNumber" />
 *@            
            <div class="form-group">
                <label asp-for="MemberId" class="control-label">會員編號</label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ArticleStatusnumber" class="control-label">文章狀態</label>
                <input asp-for="ArticleStatusnumber" class="form-control" />
                <span asp-validation-for="ArticleStatusnumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ArticleTitle" class="control-label">文章標題</label>
                <input asp-for="ArticleTitle" class="form-control" />
                <span asp-validation-for="ArticleTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ArticleContent" class="control-label">文章內容</label>
                <input type="hidden" name="ArticleContent" id="ArticleContent" />
                <div id="editor" style="height: 300px;"></div>
                <span asp-validation-for="ArticleContent" class="text-danger"></span>
            </div>

            <div class="form-group" style="display: flex; gap: 10px;">
                <input type="submit" value="送出並新增" class="btn btn-primary" />
                <a asp-action="List" class="btn btn-secondary">取消</a>
            </div>
            
        </form>

        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }

            <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
            <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
            <script>
                var quill = new Quill('#editor', {
                    theme: 'snow',
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline'],
                            ['link', 'image']
                        ]
                    }
                });

                document.querySelector('form').onsubmit = function () {
                    var content = quill.root.innerHTML;
                    document.getElementById('ArticleContent').value = content;
                };
            </script>
        }

    </div>
</div>


