@model IEnumerable<prjJapanTravel_BackendMVC.Models.Admin>

<form id="adminform">

    <div style="padding:50px">
        <div class="row">
            <div class="col-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                </div>
                <input type="Text" id="Keyword" name="Keyword" class="form-control mb-5" value="" placeholder="請輸入關鍵字" />
                <input type="hidden" id="AdminId" name="AdminId" class="form-control" value="" />
                <div class="mb-3">
                    <label for="AdminName" class="form-label" style="font-size:20px">管理員姓名</label>
                    <input type="text" id="AdminName" name="AdminName" class="form-control" aria-describedby="emailHelp" disabled="disabled">
                    <div id="emailHelp" class="form-text"></div>
                </div>

                <div class="mb-3">
                    <label for="Account" class="form-label " style="font-size:20px">帳號</label>
                    <input type="text" id="Account" name="Account" class="form-control" aria-describedby="emailHelp" disabled="disabled">
                    <div id="emailHelp" class="form-text"></div>
                </div>

                <div class="mb-3">
                    <label for="Password" class="form-label" style="font-size:20px">密碼</label>
                    <input type="text" id="Password" name="Password" class="form-control" disabled="disabled">
                </div>
                <button type="button" id="InsertAdmin" class="btn btn-primary">新增管理員</button>
                <button type="button" id="AlterAdmin" class="btn btn-primary" disabled="disabled">修改管理員</button>
                <button type="button" id="SubmitAdmin" class="btn btn-primary" disabled="disabled">儲存</button>
                <button type="button" id="CancelAdmin" class="btn btn-primary">取消</button>
                <button type="button" id="DeleteAdmin" class="btn btn-danger" disabled="disabled">刪除管理員</button>
            </div>

            @* ================================================================================= *@
            <div class="col-3" style="margin-left:50px;margin-top:30px;font-size:25px">
                <div class="form-check">
                    <input id="AdminManageStatus" name="AdminManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        管理員管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="MemberManageStatus" name="MemberManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        會員管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="IniteraryManageStatus" name="IniteraryManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        行程管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="ShipmentManageStatus" name="ShipmentManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        航班管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="OrderManageStatus" name="OrderManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        訂單管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="CouponManageStatus" name="CouponManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        優惠券管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="CommentManageStatus" name="CommentManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        評論管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="BlogManageStatus" name="BlogManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        部落格管理權限
                    </label>
                </div>
            </div>
            @* ============================================================================================= *@
            <div class="col-4" style="margin-left:50px">
                <img src="~/images/Admin/Noimage.png" id="image" class="img-thumbnail" alt="..." style="height:500px; width:500px">
                <input type="file" id="btnphoto" name="photo" class="form-control" style="margin-top:30px" accept="image/*" disabled="disabled">
            </div>
        </div>
    </div>
</form>
<hr />
@* ================================================================================================================================= *@
<div class="row" style="margin-left:50px" id="cardcontainer">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-3">
            <div class="card" style="width: 300px;height:400px" data-adminid="@item.AdminId">
                <input type="hidden" value="@item.AdminId" />
                @if (item.ImagePath != null)
                {
                    <img class="img-fluid" src="~/images/Admin/@item.ImagePath" alt="" style="height:300px;width:300px;padding:20px">
                }
                else
                {
                    <img class="img-fluid" src="~/images/Admin/Noimage.png" alt="" style="height:height:300px;width:300px;padding:20px">
                }
                <div class="card-body">
                    <h5 class="card-title">@item.AdminName</h5>
                </div>
            </div>
        </div>
    }
</div>
