@model IEnumerable<prjJapanTravel_BackendMVC.Models.Admin>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@

<div class="row" style="margin-left:50px">
    @foreach(var item in Model)
    {
        <div class="col-md-6 col-lg-3" id="divp @item.AdminId">
            <div class="card" style="width: 300px;height:400px">
                <input type="text" value="@item.AdminId" />
                <img class="img-fluid" src="~/images/Admin/@item.ImagePath" alt="" style="height:280px">
                <div class="card-body">
                    <h5 class="card-title">@item.AdminName</h5>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script>

    </script>
} 