@model IEnumerable<prjJapanTravel_BackendMVC.Models.Admin>

 <form id="adminform">

    <div style="padding:50px">
        <div class="row">
            <div class="col-4">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                </div>
                <input type="Text" id="Keyword" name="Keyword" class="form-control" value="" placeholder="請輸入關鍵字" />
                <input type="hidden" id="AdminId" name="AdminId" class="form-control" value="" />
                <div class="mb-3">
                    <label for="AdminName" class="form-label" style="font-size:20px">管理員姓名</label>
                    <input type="text" id="AdminName" name="AdminName" class="form-control" aria-describedby="emailHelp" disabled="disabled">
                    <div id="emailHelp" class="form-text"></div>
                </div>

                <div class="mb-3">
                    <label for="Account" class="form-label " style="font-size:20px">帳號</label>
                    <input type="text" id="Account" name="Account" class="form-control" aria-describedby="emailHelp" disabled="disabled">
                    <div id="emailHelp" class="form-text"></div>
                </div>

                <div class="mb-3">
                    <label for="Password" class="form-label" style="font-size:20px">密碼</label>
                    <input type="text" id="Password" name="Password" class="form-control" disabled="disabled">
                </div>
                <button type="button" id="InsertAdmin" class="btn btn-primary">新增管理員</button>
                <button type="button" id="AlterAdmin" class="btn btn-primary" disabled="disabled">修改管理員</button>
                <button type="button" id="SubmitAdmin" class="btn btn-primary" disabled="disabled">儲存</button>
                <button type="button" id="CancelAdmin" class="btn btn-primary">取消</button>
                <button type="button" id="DeleteAdmin" class="btn btn-danger" disabled="disabled">刪除管理員</button>
            </div>
        
            @* ================================================================================= *@
            <div class="col-3"  style="margin-left:50px;margin-top:30px;font-size:25px">
                <div class="form-check">
                    <input id="AdminManageStatus" name="AdminManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        管理員管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="MemberManageStatus" name="MemberManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        會員管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="IniteraryManageStatus" name="IniteraryManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        行程管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="ShipmentManageStatus" name="ShipmentManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        航班管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="OrderManageStatus" name="OrderManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        訂單管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="CouponManageStatus" name="CouponManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        優惠券管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="CommentManageStatus" name="CommentManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        評論管理權限
                    </label>
                </div>
                <div class="form-check">
                    <input id="BlogManageStatus" name="BlogManageStatus" class="form-check-input" type="checkbox" value="false" disabled="disabled" />
                    <label class="form-check-label" for="">
                        部落格管理權限
                    </label>
                </div>
            </div>
            @* ============================================================================================= *@
             <div class="col-4" style="margin-left:50px">
                <img src="~/images/Admin/Noimage.png" id="image" class="img-thumbnail" alt="..." style="height:500px; width:500px">        
                <input type="file" id="btnphoto" name="photo" class="form-control" style="margin-top:30px" accept="image/*" disabled="disabled">
            </div> 
    </div>
    </div>
</form> 
<hr />
@* ================================================================================================================================= *@
<div class="row" style="margin-left:50px" id="cardcontainer">
    @foreach(var item in Model)
    {
        <div class="col-md-6 col-lg-3">
            <div class="card" style="width: 300px;height:400px" data-adminid="@item.AdminId">
                <input type="text" value="@item.AdminId" />
                @if (item.ImagePath != null)
                {
                    <img class="img-fluid" src="~/images/Admin/@item.ImagePath" alt="" style="height:300px;width:300px;padding:20px">
                }
                else
                {
                    <img class="img-fluid" src="~/images/Admin/Noimage.png" alt="" style="height:height:300px;width:300px;padding:20px">
                }
                <div class="card-body">
                    <h5 class="card-title">@item.AdminName</h5>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script>        
        const alltext = document.querySelectorAll('.form-control');
        const allcheck = document.querySelectorAll('.form-check-input');
        const allimage = document.querySelectorAll('.img-fluid');
        const doman = "https://localhost:7146";

        // ==================資料表欄位===================================================
        const AdminId = document.getElementById('AdminId');
        const AdminName = document.getElementById('AdminName');
        const Account = document.getElementById('Account');
        const Password = document.getElementById('Password')
        const AdminManageStatus = document.getElementById('AdminManageStatus');
        const MemberManageStatus = document.getElementById('MemberManageStatus');
        const IniteraryManageStatus = document.getElementById('IniteraryManageStatus');
        const ShipmentManageStatus = document.getElementById('ShipmentManageStatus');
        const OrderManageStatus = document.getElementById('OrderManageStatus');
        const CouponManageStatus = document.getElementById('CouponManageStatus');
        const CommentManageStatus = document.getElementById('CommentManageStatus');
        const BlogManageStatus = document.getElementById('BlogManageStatus');
        // ======================Controls=====================================================
        const insertbtn = document.getElementById('InsertAdmin');
        const alterbtn = document.getElementById('AlterAdmin');
        const submitbtn = document.getElementById('SubmitAdmin');
        const cancelbtn = document.getElementById('CancelAdmin');
        const btnphoto = document.getElementById('btnphoto');
        const deletebtn = document.getElementById('DeleteAdmin');
        const txtKeyword = document.getElementById('Keyword');
        const cardcontainer = document.getElementById('cardcontainer');
        const adminform = document.getElementById('adminform');
        const AdminPhoto = document.getElementById('image');
        const Imglist = document.getElementById('imglist');
        const NoimageUrl = '/images/Admin/Noimage.png';
        const imageUrl = '/images/Admin/';
        let lastbtnclick = null;  


        function reset() 
        {
            insertbtn.disabled = false;
            alterbtn.disabled = true;
            submitbtn.disabled = true;
            deletebtn.disabled = true;
            alltext.forEach(input => {
                input.disabled = true;
                input.value = '';
            })
            allcheck.forEach(check => {
                check.disabled = true;
                check.checked = false;
            })
            AdminPhoto.src = NoimageUrl;
            txtKeyword.disabled = false; 
        }
        // 為每張卡片添加點擊事件

        function addCardEvent() 
        {
            
            const allcards = document.querySelectorAll('.card');
            allcards.forEach(card => {
                card.addEventListener('click', async function () {
                    reset();
                    // 從 data-adminid 屬性中取得 AdminId
                    const adminId = this.getAttribute('data-adminid');
                    const response = await fetch(`${doman}/AdminAPI/GetData/?adminId=${adminId}`,
                        {
                            method: "Get"
                        })

                    const data = await response.json();

                    AdminId.value = data.adminId;
                    AdminName.value = data.adminName;
                    Account.value = data.account;
                    Password.value = data.password;
                    AdminManageStatus.checked = data.adminManageStatus ? true : false;
                    MemberManageStatus.checked = data.memberManageStatus ? true : false;
                    IniteraryManageStatus.checked = data.initeraryManageStatus ? true : false;
                    ShipmentManageStatus.checked = data.shipmentManageStatus ? true : false;
                    OrderManageStatus.checked = data.orderManageStatus ? true : false;
                    CouponManageStatus.checked = data.couponManageStatus ? true : false;
                    CommentManageStatus.checked = data.commentManageStatus ? true : false;
                    BlogManageStatus.checked = data.blogManageStatus ? true : false;
                    if (data.imagePath == null) {
                        AdminPhoto.src = NoimageUrl;
                    }
                    else {
                        AdminPhoto.src = `${imageUrl}${data.imagePath}`;
                    }
                    window.scrollTo({ top: 0, behavior: 'smooth' });

                    alterbtn.disabled = false;
                    deletebtn.disabled = false;
                });
            });
        }
        addCardEvent();
        // =============CheckBox事件========================================
        allcheck.forEach(chb => {
            chb.addEventListener('change', () => 
            {
                chb.value = chb.checked ? "true" : "false";
            })
        })
        //============圖片預覽=====================================================
        btnphoto.addEventListener('change', async (event) => 
        {
            const file = event.target.files[0];
            const allowtype = 'image.*';
            if (file.type.match(allowtype)) {
                const reader = new FileReader();
                reader.onload = function () {
                    let dataURL = reader.result;
                    AdminPhoto.src = `${dataURL}`;
                }
                reader.readAsDataURL(file);
                submitbtn.disabled = false;
            }
            else 
            {
                alert('圖片格式錯誤');
                submitbtn.disabled = true;
            }
            
        })
        
        // =============新增按鈕======================================================
        insertbtn.addEventListener('click', (event) => {
            lastbtnclick = event.target;
            insertbtn.disabled = true;
            alltext.forEach(input => {
                input.disabled = false;
                input.value = '';
            })
            allcheck.forEach(check => {
                check.disabled = false;
                check.checked = false;
            })
            AdminPhoto.src = NoimageUrl;
            submitbtn.disabled = false;
        })
        //==========修改按鈕==============================================================
        alterbtn.addEventListener('click', function (event) {
            lastbtnclick = event.target;
            alltext.forEach(input => {
                input.disabled = false;
            })
            allcheck.forEach(check => {
                check.disabled = false;
            })
            submitbtn.disabled = false;
        })
        //================取消=======================================================
        cancelbtn.addEventListener('click', () => 
        {
            reset();
        })
        //=========submit============================================================
        submitbtn.addEventListener('click', async () => {
            let form = new FormData(adminform);
            if (lastbtnclick.id == 'InsertAdmin') 
            {
                const response = await fetch(`https://localhost:7146/AdminAPI/InsertAdmin`,
                    {
                        method: "Post",
                        body: form
                    })
                if (response.ok) {
                    const alladmins = await response.json();
 
                    const elealladmins = alladmins.map(ad => {
                        return (`<div class="col-md-6 col-lg-3">
                                     <div class="card" style="width: 300px;height:400px" data-adminid="${ad.adminId}">
                                     <input type="text" value="${ad.adminId}" />
                                     <img class="img-fluid" src="/images/Admin/${ad.imagePath}" alt="" style="height:280px;padding:20px"  onerror="this.onerror=null; this.src='/images/Admin/Noimage.png';">
                                     <div class="card-body">
                                     <h5 class="card-title">${ad.adminName}</h5></div></div></div>`)
                    })
                    cardcontainer.innerHTML = elealladmins.join("");
                    addCardEvent();
                }
                insertbtn.disabled = false;
            }
            else if (lastbtnclick.id == 'AlterAdmin') {
                const response = await fetch(`https://localhost:7146/AdminAPI/AlterAdmin`,
                    {
                        method: "Post",
                        body: form
                    })
                if (response.ok) {
                    const alladmins = await response.json();
                    const elealladmins = alladmins.map(ad => {
                        return (`<div class="col-md-6 col-lg-3">
                                             <div class="card" style="width: 300px;height:400px" data-adminid="${ad.adminId}">
                                             <input type="text" value="${ad.adminId}" />
                                             <img class="img-fluid" src="/images/Admin/${ad.imagePath}" alt="" style="height:280px;padding:20px"  onerror="this.onerror=null; this.src='/images/Admin/Noimage.png';">
                                             <div class="card-body">
                                             <h5 class="card-title">${ad.adminName}</h5></div></div></div>`)
                    })
                    cardcontainer.innerHTML = elealladmins.join("");
                    addCardEvent();
                }
            }
            submitbtn.disabled = true;
            reset();
        })
        //================刪除管理員=================================================
        deletebtn.addEventListener('click', async () => {
            const adminId = AdminId.value;
            if (confirm('刪除確認')) {
                const response = await fetch(`https://localhost:7146/AdminAPI/DeleteAdmin/${adminId}`,
                {
                    method:"Get",
                })
                if (response.ok) {
                    alert('資料已刪除');
                    const alladmins = await response.json();
                    const elealladmins = alladmins.map(ad => {
                        return (`<div class="col-md-6 col-lg-3">
                                                     <div class="card" style="width: 300px;height:400px" data-adminid="${ad.adminId}">
                                                     <input type="text" value="${ad.adminId}" />
                                                     <img class="img-fluid" src="/images/Admin/${ad.imagePath}" alt="" style="height:280px;padding:20px"  onerror="this.onerror=null; this.src='/images/Admin/Noimage.png';">
                                                     <div class="card-body">
                                                     <h5 class="card-title">${ad.adminName}</h5></div></div></div>`)
                    })
                    cardcontainer.innerHTML = elealladmins.join("");
                    addCardEvent();
                }
                else 
                {
                    alert('刪除失敗');
                }
                reset();
            }
        })
        //=================Keyword=======================================================
        txtKeyword.addEventListener('keydown', async (event) => 
        {
            const Keyword = txtKeyword.value;
            if (event.keyCode == 13 && Keyword.value != '') {
                const response = await fetch(`https://localhost:7146/AdminAPI/Search/?keyword=${Keyword}`, {
                    method: "Get",
                })
                if (response.ok) {
                    const alladmins = await response.json();
                    const elealladmins = alladmins.map(ad => {
                        return (`<div class="col-md-6 col-lg-3">
                                                                     <div class="card" style="width: 300px;height:400px" data-adminid="${ad.adminId}">
                                                                     <input type="text" value="${ad.adminId}" />
                                                                     <img class="img-fluid" src="/images/Admin/${ad.imagePath}" alt="" style="height:280px;padding:20px"  onerror="this.onerror=null; this.src='/images/Admin/Noimage.png';">
                                                                     <div class="card-body">
                                                                     <h5 class="card-title">${ad.adminName}</h5></div></div></div>`)
                    })
                    cardcontainer.innerHTML = elealladmins.join("");
                    addCardEvent();
                }
            }
               
        })

    </script>
}